.Hero {
    background-color: red;
    height: calc(100dvh - 30px);
    margin: 0%;
    max-width: 1920px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    
}

.Hero-Left {
    width: 50%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 50px;
    box-sizing: border-box;
}


.Hero-Left-h1 {
    margin: 0%;
    font-size: clamp(3rem, calc(2rem + 10 * min(100vw, 1920px) / 100), 15rem);
    line-height: 100%;
    font-family: "Momo Trust Display", sans-serif;
}




.Hero-Right {
    width: 50%;
    background-color: blue;
    display: flex;
}

.Hero-Right-L1 {
    background-color: red;
    width: 50%;
}

.Hero-Right-L1-Top {
    height: 60%;
    background-color: blueviolet;
    padding: min(5em, 8%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
}

.Hero-Right-L1-Top-H1{
    margin: 0%;
}


.Hero-Right-L1-Top-Info{
    display: grid;
    gap: 10px;
    grid-template-columns: 200px 200px;
    margin-top: min(8em, 8%);
}


.Hero-Right-L1-Top-Info-Child{
    background-color: red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.Hero-Right-L1-Bottom {
    height: 40%;
    background-color: rgb(98, 116, 116);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.Hero-Right-R1 {
    background-color: aqua;
    width: 50%;
}

.Hero-Right-R1-Top {
    background-color: #f8cfcf;
    height: 70%;
}

.Hero-Right-R1-Top-Img {
    background-color: red;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Hero-Right-R1-Bottom {
    height: 30%;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}