.Project {
    background-color: rgb(255, 255, 255);
    padding-inline: 60px;
    padding-top: 60px;
    max-width: 1920px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Project-H1 {
    
   font-size: clamp(1rem, calc(1.2rem + 2 * min(100vw, 1920px) / 100), 3rem);
    
    font-family: Momo Trust Display;

    width: 50%;
    line-height: 100%;
}

.Project-Card {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.Project-Card::-webkit-scrollbar {
    display: none;
}

.Project-Card-Content {
    background-color: aqua;
    cursor: pointer;
    transition: 250ms;
    display: grid;
    grid-template-areas: "stack";
    place-items: end;
    scroll-snap-align: start;

}


.Project-Card-Content:hover>.Project-Card-details svg {
    background-color: black;
    color: white;
    visibility: visible;
}



.Project-Img {
    width: min(500px, 70vw);
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Project-Img:hover{
    filter: none;
}


.Project-Card-details {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(238, 238, 238);
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    margin: 20px;
}



.Project-Card-details svg {
    transition: 250ms;
    padding: 20px;
    visibility: hidden;
    cursor: pointer;
}


.Project-Arrows {
    display: flex;
    justify-content: end;
    gap: 10px;
}


.Project-Arrows svg {
    background-color: rgb(216, 174, 174);
    padding: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.Project-Arrows svg:hover{
    outline: 2px black solid;
    outline-offset: 2px;
}



@media (max-width: 1000px) {
    .Project-H1{
        width: 100%;
    }
}