.PrimaryButton {
    background-color: blueviolet;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: poppins;
    touch-action: manipulation;
    will-change: transform;
    border-radius: var(--radiusFull);
    font-weight: 700;
    padding: 20px;
    transition: 250ms;

}





.PrimaryButton:hover {
    transform: scale(1.05);
}

.PrimaryButton:active {
    transform: scale(0.9);
}



