.About-Info {
    display: grid;
    margin-top: 10px;
    grid-template-areas:
        "box1 box2"
        "box3 box4";
}

.About-Info-Child-1 {
    grid-area: box1;
    background-color: rgb(24, 204, 18);
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.About-Info-Child-2 {
    grid-area: box2;
    background-color: blueviolet;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.About-Info-Child-3 {
    grid-area: box3;
    background-color: aqua;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.About-Info-Child-4 {
    grid-area: box4;
    background-color: bisque;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}