.Model {
    position: fixed;
    inset: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.Model-Content {
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
        border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 7rem;

}






.subnavbar-close {
    background-color: rgb(255, 246, 246);
    padding: 15px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
    position: absolute;
    margin: 20px;
}

.subnavbar-close:hover {
    outline: 2px blueviolet solid;
    outline-offset: 2px;
}