.subnavbar {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9;
    box-sizing: border-box;
    margin: 0%;
}

.subnavbar-child {
    background-color: red;
    height: 100%;
    width: 100%;
}

.subnavbar-expande {
    background-color: rgb(255, 246, 246);
    padding: 10px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
}

.subnavbar-expande:hover {
    outline: 2px rgb(239, 230, 248) solid;
    outline-offset: 2px;
}

.subnavbar-close {
    background-color: rgb(255, 246, 246);
    padding: 10px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
    margin-left: 10px;
}

.subnavbar-close:hover {
    outline: 2px rgb(239, 230, 248) solid;
    outline-offset: 2px;
    
}