.Navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    box-sizing: border-box;
    padding: 20px;
    max-width: calc(1920px - 60px);
    width: calc(100% - 60px);
    margin-top: 20px;
    border-radius: var(--radiusCard);
    justify-self: center;
}

.Navbar-Open {
    padding: 10px;
    border-radius: 50px;
    appearance: none;
    touch-action: manipulation;
    outline: 2px rgb(206, 213, 255) solid;
    cursor: pointer;
    transition: 250ms;
}

.Navbar-Open:hover {
    background-color: blueviolet;
    outline: 2px red double;
    outline-offset: 2px;
    color: white;
    fill: white;
}