.Navbar {
    background-color: rgb(109, 93, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    box-sizing: border-box;
    padding-block: 10px;
    max-width: 1920px;
    width: 100%;
    justify-self: center;
    border-bottom: 5px rgb(175, 89, 255) solid;
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(198, 41, 255, 1) 100%);
    color: white;
    font-family: Roboto;
    font-size: 20px;
    cursor: default;
}

.Navbar-Open {
    padding: 15px;
    border-radius: 50px;
    appearance: none;
    touch-action: manipulation;
    outline: 2px rgb(206, 213, 255) solid;
    cursor: pointer;
    transition: 250ms;
    background-color: white;
    color: #020024;
}

.Navbar-Open:hover {
    outline: 2px white double;
    outline-offset: 2px;
    transform: scale(1.01);
}

