.SecondaryButton {
    background-color: whitesmoke;
    border: none;
    color: #000000;
    cursor: pointer;
    font-family: poppins;
    touch-action: manipulation;
    will-change: transform;
    border-radius: 50px;
    font-weight: 700;
    padding: 20px;
    transition: 250ms;
}





.SecondaryButton:hover {
    outline: 2px solid gray;
    outline-offset: 2px; 
}

.SecondaryButton:active {
    transform: scale(0.9);
}





.SecondaryButton:focus {
    outline: 2px solid gray;
    outline-offset: 2px;
}