.SecondaryButton {
    background-color: whitesmoke;
    border: none;
    color: #000000;
    cursor: pointer;
    font-family: poppins;
    touch-action: manipulation;
    will-change: transform;
    border-radius: var(--radiusFull);
    font-weight: 700;
    padding: 20px;
    transition: 250ms;
}





.SecondaryButton:hover {
    transform: scale(1.03);
}

.SecondaryButton:active {
    transform: scale(1);
}





.SecondaryButton:focus {
    outline: 2px solid black;
    outline-offset: 2px;
} 